<!DOCTYPE html>
<html>
<head>
    <title>Портфоліо</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Портфоліо</h1>
        <nav>
            <ul>
                <li><a href="https://github.com/Prostokishyn">GitHub</a></li>
                <li><a href="/project1">Проект 1</a></li>
                <li><a href="/project2">Проект 2</a></li>
                <li><a href="/project3">Проект 3</a></li>
                <li><a href="/project4">Проект 4</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Про мене</h1>
            <img src="/static/me.jpg" alt="me" class="me"> 
            <h3>Прізвище, ім'я, по-батькові:</h3>
            <p>Простокішин Дмитро Валерійович</p>
            <h3>Дата народження:</h3>
            <p>29 листопада, 2004-го року (29.11.2004)</p>
            <h3>Місце навчання:</h3>
            <p>Рівненський фаховий коледж інформаційних технологій (РФКІТ)</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Портфоліо. Простокішин Діма.</p>
    </footer>
</body>
</html>